{{>adminnav}}
<section class="container-fluid banner user-single"></section>
<section class="container-fluid results">
  <div class="big-avatar" style="background: #35396e url({{user.avatar}}) no-repeat center center / cover;">
    <span class="cat-label">
      <div class="label-dark" tabindex="0">{{user.role}}</div>
    </span>
  </div>
  <div class="container">
    <div class="row">
      <h1 class="title">Statistics</h1>
      <div class="col-6">
        <h1 class="title">User / date</h1>
        <canvas id="my-chart"></canvas>
      </div>
      <div class="col-6">
        <h1 class="title">User & Projects / month</h1>
        <canvas id="mix-canvas"></canvas>
      </div>
    </div>
  </div>
</section>