{{>adminnav}}
<section class="container-fluid banner user-single"></section>
<section class="container-fluid results">
  <div class="big-avatar" style="background: url({{user.avatar}}) no-repeat center center / cover;">
    <span class="cat-label">
      <div class="label-dark" tabindex="0">{{user.role}}</div>
    </span>
  </div>
  <div class="container">
    <div class="row">
      <h1 class="title">Statistics</h1>
    </div>
  </div>
</section>