$icomoon-font-family: 'mappetfont' !default;
$icomoon-font-path: '../fonts' !default;

$mappet-activities: '\e001';
$mappet-animal-shelter: '\e002';
$mappet-beach: '\e003';
$mappet-bone: '\e004';
$mappet-events: '\e005';
$mappet-grooming: '\e006';
$mappet-hiking: '\e007';
$mappet-hotel: '\e008';
$mappet-park: '\e009';
$mappet-pipican: '\e010';
$mappet-restaurant: '\e011';
$mappet-services: '\e012';
$mappet-store: '\e013';
$mappet-tour: '\e014';
$mappet-training: '\e015';
$mappet-veterinary: '\e016';
$mappet-walk: '\e017';
