@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&family=Raleway:wght@300;400;700&display=swap');

@import 'font';

/*
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
*/

$purple: #714b9c;
$dark-purple: #35396e;
$pink: #ea7676;
$text: #333;
$white: #fff;
$black: #000;
$custom-range-track-bg: $pink;

html {
  font-size: 10px;
}

body {
  font-family: 'Raleway', sans-serif;
  color: $text;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 300;

  strong {
    font-weight: 700;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

h1 {
  &.title {
    color: $white;
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 3rem;
  }
}

.modal {
  background: rgba($dark-purple, 0.95);

  .modal-content {
    background: transparent;
    border: solid 0.1rem $white;
    padding: 4rem;
    border-radius: 2.4rem;

    h1 {
      margin-top: 0;
    }

    label {
      color: $white;
    }
  }
}

form {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;

  h2 {
    color: $dark-purple;
    margin-bottom: 3rem;
    font-weight: 600;
  }

  .form-group {
    margin-bottom: 3.2rem;

    .input-group {
      .input-group-text {
        border-radius: 2.4rem 0 0 2.4rem;
        background: $dark-purple;
        font-size: 1.6rem;
        color: $white;
        padding: 0 1rem 0 2rem;
        border: solid 0.2rem $dark-purple;
      }
    }
  }

  .error-message {
    background: $purple;
    color: $white;
    padding: 2rem;
    border-radius: 1.6rem;
    margin-bottom: 2rem;
  }

  label {
    font-size: 1.6rem;
    color: $white;
    padding-left: 1.6rem;
  }

  #avatar {
    outline: none;

    &::-webkit-file-upload-button {
      visibility: hidden;
    }

    &:before {
      display: contents;
      background: transparent;
      border: 0;
      padding: 1rem;
      outline: none;
      white-space: nowrap;
      cursor: pointer;
      font-size: 1.4rem;
      color: $pink;
    }

    &:hover:before {
      border-color: $pink;
      color: $pink;
    }

    &:active {
      outline: none;
    }
  }

  #avatar {
    &:before {
      content: 'Select avatar';
    }
  }

  .form-control,
  .custom-file-label {
    font-size: 1.6rem;
    border-radius: 2.4rem;
    height: 4.5rem;
    padding-left: 2rem;
    border: solid 0.2rem #fff;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    overflow: hidden;

    &::placeholder {
      color: $white;
    }

    &.textarea {
      height: auto;
      padding: 1rem 2rem;
    }
  }

  .custom-textarea {
    margin-bottom: 1.6rem;
  }

  .custom-file {
    height: 4.5rem;

    .custom-file-input {
      &:hover {
        cursor: pointer;
      }
    }

    .custom-file-label {
      display: flex;
      align-items: center;
      padding-right: 8rem;

      &:after {
        height: 4.1rem;
        color: #fff;
        background-color: rgba($dark-purple, 0.4);
        border-radius: 0 2.4rem 2.4rem 0;
        display: flex;
        align-items: center;
        z-index: 10;
        padding: 0 2rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .categories-block {
    margin-bottom: 4rem;
  }

  .icon-box {
    width: 10rem;
    height: 10rem;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1.6rem;
    border: solid 0.2rem $dark-purple;
    text-align: center;
    font-size: 1.4rem;
    margin: 0.5rem;
    padding: 1rem;

    [class*='mappet-'] {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    span {
      color: $dark-purple;
    }

    &:hover {
      background: $dark-purple;
      color: $white;
      cursor: pointer;

      > span {
        color: $white;
      }
    }
  }

  .form-check-label {
    position: relative;
    cursor: pointer;

    & input[type='checkbox'] {
      position: absolute;
      opacity: 0;
    }

    & :hover ~ .icon-box {
      background: $dark-purple;
      color: $white;
    }

    & :checked ~ .icon-box {
      background: $dark-purple;
      color: $white;

      span {
        color: $white;
      }
    }
  }

  .days {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    label {
      padding-left: 0;
      padding-right: 2rem;
    }
  }

  .form-btn {
    background: $pink;
    color: $white;
    padding: 1rem 4rem;
    border-radius: 4rem;
    font-size: 1.6rem;
    margin: 2rem auto auto auto;
    width: 30%;
    border: 0;
    transition: all 200ms ease;

    &:hover {
      color: $white;
      background: $dark-purple;
    }
  }

  hr {
    background: rgba($white, 0.7);
    margin: 4rem 0;
  }

  .no-user {
    a {
      color: $pink;
    }
  }

  .custom-range {
    width: 90%;

    &::-webkit-slider-thumb {
      background: $pink;
      &:active {
        background: rgba($pink, 0.3);
      }
    }

    &::-ms-slider-thumb {
      background: $pink;
      &:active {
        background: rgba($pink, 0.3);
      }
    }

    &::-moz-slider-thumb {
      background: $pink;
      &:active {
        background: rgba($pink, 0.3);
      }
    }
  }

  .range-slider__value {
    background: $dark-purple;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 2rem;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    right: 1rem;
    bottom: 0rem;
  }
}

.navbar {
  color: $white;
  border-bottom: solid 0.1rem $white;
  padding: 0;
  align-items: center;
  font-weight: 400;
  position: absolute;
  z-index: 5;
  width: 100%;

  .navbar-toggler {
    outline: none;
    .fa-bars {
      width: 2rem;
      color: white;
    }
  }

  .navbar-brand {
    background: rgba($white, 0.3);
    border: solid 0.1rem $white;
    width: 16rem;
    height: 16rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 2.4rem 2.4rem;
    left: 12rem;
    top: 5rem;

    .logo {
      width: 9rem;
    }

    .res-logo {
      display: none;
    }
  }

  .nav-item {
    height: 5rem;
    align-items: center;
    display: flex;
    margin-right: 9rem;

    &.login {
      border-left: solid 0.1rem $white;
      display: flex;
      justify-content: center;
      margin-right: 0;

      ul {
        display: flex;
        justify-content: space-around;
        padding: 0;

        &.logged {
          padding: 0 3rem;

          .user-link {
            color: $white;

            &:hover {
              text-decoration: none;
              opacity: 0.5;
            }
          }
        }

        button {
          background: transparent;
          border: 0;
          outline: none;
        }

        .user-register {
          margin: 0 4.5rem;
        }

        .user-login {
          background: rgba($pink, 0.9);
          padding: 0 4rem;
          margin-right: 5rem;

          &.admin-logout {
            background: $pink;
          }
        }

        .user-info {
          display: flex;
          align-items: center;
          justify-content: end;

          .nav-avatar {
            border-radius: 50%;
            border: solid 0.2rem $dark-purple;
            margin-right: 1rem;
            position: relative;
            width: 4rem;
            height: 4rem;
            display: block;
          }

          p {
            margin: 0;
          }

          strong {
            margin-right: 2rem;
          }
        }
      }
    }

    &.more {
      background: rgba($white, 0.3);
      height: 5rem;
      width: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      font-weight: 700;
      border-left: solid 0.1rem $white;
      position: relative;
      margin-right: 0;

      .plus {
        width: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .dropdown-menu {
        left: -18rem;
        font-size: 1.4rem;
        font-family: 'Quicksand', sans-serif;
        background: rgba(255, 255, 255, 0.3);
        border: solid 0.1rem #fff;
        border-radius: 0 0 2.4rem 2.4rem;
        width: 18rem;
        padding: 1rem 0 1.6rem 0;
        top: 4.9rem;

        .dropdown-item {
          color: $white;

          &:hover {
            background: transparent;
            opacity: 0.7;
          }
        }
      }
    }

    &.admin-links {
      a {
        margin: 0 1.6rem;

        &:hover {
          color: $pink;
        }
      }
    }

    .nav-link {
      color: $white;
      font-family: 'Quicksand', sans-serif;

      &:hover {
        opacity: 0.7;
      }

      &.active {
        font-weight: 600;
        position: relative;
        pointer-events: none;

        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 0.3rem;
          background: $white;
          bottom: -1rem;
          left: 0;
        }
      }
    }
  }

  .navbar-collapse {
    justify-content: flex-end;
  }

  .navbar-nav {
    display: flex;
    justify-content: flex-end;
  }
}

.banner {
  height: 90vh;
  background: url(../images/home-bg.jpg) no-repeat center center / cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: $white;
  font-size: 1.8rem;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $purple;
    background: linear-gradient(
      0deg,
      rgba($black, 0.3) 30%,
      rgba($purple, 0.6) 100%
    );
  }

  h1 {
    font-weight: 300;
    font-size: 4rem;
    margin-bottom: 1rem;
    margin-top: 0;
  }

  select {
    border: solid 0.1rem $white;
    color: $white;
    font-size: 1.6rem;
    height: 4.5rem;
    margin-top: 4rem;
    -webkit-appearance: none;
    background: rgba($white, 0.3) url(../images/arrow-down.svg) no-repeat 98%
      center / 2rem 2rem;
    outline: none;
    width: 80%;
    border-radius: 3rem;
    padding: 0 2rem;

    &:focus,
    &:active {
      background: rgba($white, 0.3) url(../images/arrow-down.svg) no-repeat 98%
        center / 2rem 2rem;
      color: $white;
      outline: none;
    }
  }

  .redes {
    position: absolute;
    width: 5rem;
    height: 100%;
    border-left: solid 0.1rem $white;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 16rem 0;

    a {
      width: 50%;
      color: $white;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &.restaurants,
  &.services,
  &.activities,
  &.events,
  &.register,
  &.login,
  &.new-spot,
  &.user-single,
  &.user-profile,
  &.user-admin {
    height: 66rem;
  }

  &.restaurants {
    background: url(../images/rest-bg.jpg) no-repeat center center / cover;
  }

  &.services {
    background: url(../images/services-bg.jpg) no-repeat center bottom / cover;
  }

  &.activities {
    background: url(../images/activities-bg.jpg) no-repeat center bottom / cover;
  }

  &.events {
    background: url(../images/events-bg.jpg) no-repeat center bottom / cover;
  }

  &.register {
    background: url(../images/register-bg.jpg) no-repeat center center / cover;
  }

  &.login {
    background: url(../images/login-bg.jpg) no-repeat center center / cover;
  }

  &.new-spot {
    background: url(../images/new-spot-bg.jpg) no-repeat center top / cover;
  }

  &.single {
    padding: 0;
    height: 80rem;

    .carousel {
      width: 100%;

      [class*='carousel-control'] {
        z-index: 0;
      }

      .carousel-item {
        height: 80rem;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: $purple;
          background: linear-gradient(
            0deg,
            rgba($black, 0.3) 30%,
            rgba($purple, 0.6) 100%
          );
        }
      }
    }
  }

  &.user-single {
    background: url(../images/user-single-bg.jpg) no-repeat center center /
      cover;
  }

  &.user-profile {
    background: url(../images/user-profile-bg.jpg) no-repeat center center /
      cover;
  }

  &.user-admin {
    background: url(../images/user-profile-bg.jpg) no-repeat center -20rem / cover;
  }
}

.attributtes,
.results {
  padding: 6rem 0 6rem 0;
  margin-top: -15rem;
  border-radius: 0 15rem 0 0;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    background: transparent;
    width: 15rem;
    height: 30rem;
    top: -30rem;
    left: 0;
    border-radius: 0 15rem 0 15rem;
    transform: rotate(180deg);
  }

  form {
    label {
      color: $dark-purple;
    }

    .form-control,
    .custom-file-label {
      color: $dark-purple;
      border-color: $dark-purple;

      &::placeholder {
        color: rgba($dark-purple, 0.8);
      }
    }
  }

  .register-pets {
    background: url(../images/register-pets.jpg) no-repeat center right / cover;
    width: 40rem;
    height: 30rem;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.attributtes {
  background: $dark-purple;
  box-shadow: inset 0 -2rem 5rem -2.4rem rgba(0, 0, 0, 0.75);

  &:before {
    box-shadow: 0 -15rem 0 $dark-purple;
  }
}

.results {
  .big-avatar {
    position: absolute;
    width: 16rem;
    height: 16rem;
    display: block;
    left: 50%;
    margin-left: -8rem;
    top: -8rem;
    border-radius: 50%;
    border: solid 0.4rem $white;
  }
}

.results,
.slider {
  background: $white;
  &:before {
    box-shadow: 0 -15rem 0 $white;
  }

  h1 {
    color: $dark-purple;
  }

  .card {
    color: $text;
    margin-bottom: 4rem;

    picture {
      overflow: hidden;
      border-radius: 2.4rem;
      height: 24rem;
      position: relative;

      .card-img-top {
        transform: scale(1.3);
        transition: all 200ms ease-in-out;
      }

      h3 {
        margin-bottom: 1rem;
        position: absolute;
        bottom: -1rem;
        background: rgba($dark-purple, 0.8);
        color: $white;
        width: 100%;
        left: 0;
        padding: 2rem;
        border-radius: 0 2.4rem 0 0;

        .cat-label {
          position: absolute;
          top: -1.6rem;
          left: 1.5rem;
          z-index: 5;
        }

        &:before {
          content: '';
          background: url(../images/title-before.svg) no-repeat center center /
            cover;
          width: 3rem;
          height: 3rem;
          display: block;
          left: 0;
          top: -3rem;
          position: absolute;
        }
      }
    }

    .card-body {
      position: relative;
    }

    .card-title,
    .city {
      font-weight: 600;
      font-family: 'Quicksand', sans-serif;

      .added {
        display: block;
        font-size: 1.2rem;
        color: rgba($text, 0.7);
        font-weight: 400;

        strong {
          color: $text;
          font-weight: 600;
        }
      }
    }

    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 1rem;
    }

    &:hover {
      .go-single {
        right: 1rem;
        background: $dark-purple;
      }

      .card-img-top {
        transform: scale(1);
      }
    }
  }
}

.go-single {
  position: absolute;
  background: $pink;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  top: -2rem;
  right: 2rem;
  border: solid 0.3rem $white;
  transition: all 200ms ease-in;
  z-index: 1;

  svg {
    width: 1rem;
  }
}

.label-dark {
  background: $purple;
  color: $white;
  font-weight: 600;
  padding: 0.5rem 0.8rem;
  font-size: 1.4rem;
  border-radius: 3rem;
  border: solid 0.2rem $purple;
  text-align: center;
  position: absolute;
  bottom: 1rem;
}

.label-pill {
  background: $pink;
  color: $white;
  font-weight: 600;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  border-radius: 3rem;
  transition: all 200ms ease;
  border: solid 0.2rem $pink;

  &:hover {
    background: rgba($pink, 0.6);
    text-decoration: none;
    border: solid 0.2rem $white;
    color: $white;
  }
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-right: solid 0.3rem $pink;

  svg {
    width: 2.4rem;
    margin: 0 1rem;
  }

  .value-rate {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin-right: 1rem;
  }
}

[class*='-filter'] {
  position: absolute;
  right: 1.5rem;
  background-color: $pink;
  color: white;
  padding: 0.5rem 2rem;
  font-weight: 400;
  font-size: 1.6rem;
  border-radius: 0.3rem;
  display: inline-block;

  &:hover {
    cursor: pointer;
    background: $dark-purple;
  }
}

.single-results {
  h1 {
    &.title {
      margin-top: 0;
    }
  }

  .spot-info {
    .title {
      margin-bottom: 0;
    }

    .alt-info {
      margin-top: 4rem;
      p {
        margin-bottom: 0;
      }
    }

    .map-link {
      color: $pink;
      display: block;
      background: none;
      border: 0;
      outline: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .description {
      font-size: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .make-comment {
      position: relative;
      .btn {
        background: $pink;
        color: $white;
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        right: 3rem;
        bottom: -2rem;
        transition: all 200ms ease;

        &:hover {
          background: $dark-purple;
        }

        svg {
          width: 1.6rem;
        }
      }
    }
  }

  .rating {
    flex-direction: column;
  }

  .share {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    button {
      background: transparent;
      color: $pink;
      border: 0;
      font-size: 2.4rem;
      outline: none;

      &:hover,
      &:focus,
      &:active {
        background: transparent;
        color: $dark-purple;
        border: 0;
        outline: none;
      }
    }

    .share-btn {
      display: block;
      width: 4rem;
      height: 4rem;
    }

    .show {
      .dropdown-menu {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          height: 2.4rem;
          color: $pink;

          &:first-child {
            margin-left: 2rem;
          }
        }

        .facebook {
          display: none;
        }
      }
    }
  }

  .website {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    a,
    button {
      color: $pink;
      svg {
        height: 2.4rem;
      }

      &:hover {
        cursor: pointer;
        color: $dark-purple;
      }
    }

    button {
      background: transparent;
      border: 0;
      outline: none;

      &.show-tooltip {
        position: relative;

        &:before {
          content: 'copied to clipboard';
          position: absolute;
          display: block;
          top: -2.4rem;
          width: 16rem;
          left: 50%;
          margin-left: -8rem;
          opacity: 0;
          padding: 0.5rem 1rem;
          animation: fading 2s linear 200ms forwards;
        }
      }
    }
  }

  .rate-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem 2rem 4rem;
    flex-direction: column;
  }

  h2 {
    &.title {
      margin: 2rem 0;
    }
  }

  .comments {
    padding: 4rem 0 1rem 0;

    small {
      margin-top: 2rem;
      display: block;
    }

    .date {
      font-size: 1.2rem;
      font-weight: 600;
    }

    .avatar {
      border-radius: 6rem;
      display: block;
      width: 8rem;
      height: 8rem;
      border: solid 0.3rem $pink;
    }

    .content {
      font-size: 1.2rem;

      a {
        color: $pink;
        font-weight: 600;
      }
    }
  }

  .map-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4rem;
  }

  .follow-us {
    border-left: solid 0.1rem rgba($text, 0.5);
    margin-left: 1rem;
    padding-left: 1.6rem;
    a {
      width: 4.5rem;
      svg {
        height: 2rem;
        color: $pink;
        margin-right: 2rem;

        &:hover {
          color: $dark-purple;
        }
      }
    }

    [class*='col-'] {
      display: flex;
      justify-content: center;
    }
  }

  .user-info {
    padding-top: 4rem;

    .spot-info {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      flex-direction: column;
      margin-bottom: 1rem;
      margin-left: 1rem;
      position: relative;
    }

    p {
      margin-bottom: 0;
    }

    a {
      color: $pink;
      font-weight: 600;
    }

    .avatar {
      width: 10rem;
      height: 10rem;
      display: block;
      border: solid 0.4rem $pink;
      border-radius: 5rem;

      &.pet {
        width: 4.8rem;
        height: 4.8rem;
        border-color: $white;
        margin-left: -1.6rem;

        &:first-child {
          margin-left: -3rem;
        }
      }
    }

    .edit-spot {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $pink;
      color: $white;
      margin: 6rem auto auto auto;
      padding: 1rem;
      border-radius: 4rem;
      transition: all 200ms ease;

      &:hover {
        background: $dark-purple;
        text-decoration: none;
      }
    }

    .aside-iframe {
      position: relative;

      hr {
        margin-top: 4rem;
      }

      iframe {
        width: 100%;
        height: 32rem;
        margin-top: 3rem;
        border-radius: 2.4rem;
      }

      .expand {
        position: absolute;
        top: 4.6rem;
        left: 2rem;
        background: $pink;
        color: $white;
        z-index: 5;
        padding: 0.8rem 2.4rem;
        border-radius: 2rem;
        border: 0;
        transition: all 200ms ease;

        &:hover {
          background: $dark-purple;
        }
      }
    }

    .pet-avatar {
      display: block;
      width: 4rem;
      height: 4rem;
      border-radius: 4rem;
      border: solid 0.3rem $white;
      position: absolute;
      bottom: 0;
      left: 0;

      @for $i from 0 through 5 {
        &:nth-child(#{$i}) {
          left: 2rem * $i;
        }
      }
    }
  }
}

.user-single-profile {
  margin-top: 8rem;
  font-size: 1.6rem;
  line-height: 3.6rem;

  hr {
    margin-top: 2rem;
    background: $pink;
    height: 0.3rem;
  }
}

#delete {
  &.show {
    display: flex !important;
    align-items: center;

    .modal-dialog {
      width: 50%;
      color: $white;

      .btn,
      .close-btn {
        border: solid 0.2rem;
        padding: 0.8rem 3.2rem;
        color: $white;
        font-size: 1.4rem;
        border-radius: 4rem;
      }

      .close-btn {
        background: transparent;
        border-color: $white;
        margin-right: 2rem;
        text-decoration: none;

        &:hover {
          border-color: $pink;
          color: $pink;
          text-decoration: none;
        }
      }

      .btn {
        background: $pink;
        border-color: $pink;

        &:hover {
          border-color: $white;
          background: transparent;
        }
      }

      .modal-header,
      .modal-footer {
        border: 0;
      }
    }
  }
}

.delete-spot {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;
  color: $pink;
  margin: 2rem auto auto auto;
  padding: 1rem;
  border-radius: 4rem;
  border: solid 0.1rem $pink;
  transition: all 200ms ease;

  &:hover {
    background: $dark-purple;
    text-decoration: none;
    color: $white;
    border-color: $dark-purple;
  }
}

#mapModal {
  .modal-dialog,
  .modal-content {
    min-width: 95%;
    height: 90%;
    padding: 0;
    overflow: hidden;
    margin-top: 2%;
    color: $white;

    span {
      margin-left: 3rem;
      display: block;

      strong {
        font-size: 2rem;
      }
    }

    .modal-body {
      padding: 0;
      overflow: hidden;

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    &:before {
      content: 'close';
      position: absolute;
      top: 2rem;
      right: 2rem;
      color: $pink;
      display: block;
      font-size: 1.6rem;
    }
  }
}

.social-btn {
  a {
    background: rgba($dark-purple, 0.6);
    padding: 1rem 4rem;
    font-size: 1.4rem;
    border-radius: 4rem;
    width: 100%;
    border: 0;
    height: 4.5rem;

    svg {
      height: 1.6rem;
      margin-right: 1rem;
    }

    &:hover {
      background: $dark-purple;
      border-color: $dark-purple;
    }
  }
}

.pets {
  .pets-img-top {
    width: 16rem;
    height: 16rem;
    border-radius: 8rem;
    border: solid 0.3rem $dark-purple;
    position: relative;

    .cat-label {
      position: absolute;
      .label-dark {
        font-size: 1.6rem;
        position: static;
      }
    }
  }

  .pets-body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    position: relative;
  }
}

.no-pet {
  font-size: 1.6rem;

  a {
    color: $pink;
    font-weight: 600;
  }
}

.lastest-spots {
  padding-bottom: 6rem;

  h1 {
    color: $dark-purple;
  }
}

#map {
  width: 100%;
  height: 50rem;
  border: solid 0.1rem $purple;
}

.blog {
  background: $white;
  margin-top: 0rem;
  padding-bottom: 10rem;

  h1 {
    color: $dark-purple;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 4rem;
  }
}

aside {
  .mapa {
    width: 100%;
    height: 20rem;
    background: url(../images/view-map-bg.jpg) no-repeat center center / cover;
    position: relative;

    .view-cats-map {
      position: absolute;
      background: $pink;
      color: $white;
      font-weight: 600;
      padding: 0.6rem 3.2rem;
      top: 1rem;
      left: 1rem;
    }
  }
}

.card {
  background: transparent;
  border: 0;
  color: white;
  position: relative;

  h3 {
    margin-bottom: 2rem;
    line-height: 1.5;
  }

  .card-header {
    background: $pink;
    border: 0;
    width: 9rem;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 0.8rem $dark-purple;
    position: absolute;
    top: -11rem;
    left: 4rem;

    &.icon {
      img {
        width: 4rem;
      }
    }
  }
}

h1 {
  margin-top: 6rem;
}

.spot-card {
  &:hover {
    cursor: pointer;

    > .spot-block {
      > .text-overflow {
        margin-top: 0;
      }
    }

    /* > .details {
      margin-top: 0;
    }*/
  }

  .spot-block {
    height: 27rem;
    border-radius: 1rem;
    overflow: hidden;
    padding: 0;
    display: block;
    transition: all 200ms ease-in-out;

    .text-overflow {
      padding: 1rem 2rem;
      padding-bottom: 0;
      color: $white;
      background: rgba($pink, 0.9);
      height: 100%;
      margin-top: 37%;
      display: flex;
      transition: all 200ms ease-in-out;
      align-items: flex-end;

      h4 {
        margin-bottom: 2rem;
      }

      .space {
        margin-left: 2rem;
        display: block;

        .with-border {
          display: block;
          border-left: solid $white 0.1rem;
          padding-left: 2rem;
          padding-bottom: 2rem;
        }
      }

      .single {
        color: $white;
        font-size: 1.4rem;

        svg {
          height: 2rem;
          margin-left: 0;
          transition: all 200ms ease-in-out;
        }

        &:hover {
          text-decoration: none;

          > svg {
            margin-left: 1.5rem;
          }
        }
      }

      .date {
        font-size: 1rem;
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        margin-bottom: 1rem;
        margin-left: 2rem;
      }
    }
  }
}

.likes-btn {
  color: $pink;
  border: 0;
  border-left: solid 0.1rem $pink;
  margin-left: 1rem;
  padding-left: 4rem;
  background: url(../images/hearth.svg) no-repeat 1rem center / contain;
  outline: none;

  &:hover {
    text-decoration: none;
    color: $pink;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.details {
  background: $white;
  padding: 1rem 2rem;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  align-items: center;
  /*margin-top: -8rem;
  transition: all 500ms ease-in-out;*/
  justify-content: space-between;

  .likes {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba($text, 0.7);

    img {
      width: 2rem;
      margin-right: 1rem;
    }
  }

  .author-block {
    display: flex;
    align-items: center;

    .author-name {
      color: $pink;
      font-weight: 600;
      text-decoration: none;
      font-family: 'Quicksand', sans-serif;
    }

    .avatar {
      width: 3rem;
      height: 3rem;
      border: solid 0.2rem $dark-purple;
      display: inline-block;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
  }
}

.categories-bg {
  background: url(../images/search.jpg) no-repeat center top / cover;
  background-attachment: fixed;
  height: 80vh;
}

.categories {
  margin-top: -37rem;
  position: relative;
  padding-bottom: 8rem;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $purple;
    background: linear-gradient(
      0deg,
      rgba($dark-purple, 1) 50%,
      rgba($pink, 0) 100%
    );
  }

  h1 {
    color: $white;
    font-size: 6rem;
    margin-bottom: 8rem;
  }

  .cat-items {
    .cat-card {
      color: $white;
      width: 11rem;
      height: 11rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      border: solid 0.1rem $white;
      border-radius: 0.5rem;
      font-weight: 600;
      font-family: 'Quicksand', sans-serif;
      padding: 1rem 0;
      transition: all 200ms ease-in-out;
      margin-bottom: 3rem;

      &:hover {
        background-color: rgba($purple, 0.9) !important;
        border: $purple;
        text-decoration: none;
      }

      p {
        margin: 0;
      }

      [class*='mappet-'] {
        font-size: 3rem;
      }
    }
  }
}

footer {
  background: $dark-purple;
  color: $white;
  padding: 4rem 0;

  h3 {
    font-weight: 600;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
    }
  }

  a {
    color: $white;
    margin-top: 1.5rem;
    display: block;

    &:hover {
      color: $white;
      text-decoration: none;
      opacity: 0.5;
    }
  }

  hr {
    background: rgba($white, 0.2);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .rrss {
    display: flex;

    a {
      display: inline-block;
      margin-right: 2rem;
    }
    svg {
      width: 2rem;
    }
  }

  .copy {
    font-size: 1rem;
    padding-top: 1rem;
    margin-top: 3rem;
    border-top: solid 0.1rem $white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.pac-container {
  &:after {
    display: none;
  }
}

/* Slider */
.slick-slider {
  position: relative;

  .slick-list {
    position: relative;
    overflow: hidden;
  }

  .slick-track,
  .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .slick-track {
    &:before,
    &:after {
      display: table;
      content: '';
    }

    &:after {
      clear: both;
    }
  }

  .slick-slide {
    float: left;
  }

  .slick-arrow {
    width: 3rem;
    background: transparent;
    border: 0;
    outline: none;
    position: absolute;
    top: 50%;
    margin-top: -1.5rem;

    &.slick-prev {
      left: -3rem;
    }

    &.slick-next {
      right: -3rem;
    }
  }
}

.admin-card {
  color: $white;
  margin: 3rem 0;

  .go-single {
    top: 13rem;
    right: 4rem;
  }

  .admin-tab {
    border: solid 0.2rem $pink;
    border-radius: 2.4rem;
    padding: 4rem 2rem 2rem 2rem;
    position: relative;
    overflow: hidden;
    background: $dark-purple;
    font-weight: 400;
    font-size: 1.4rem;
    min-height: 15rem;

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 200ms ease;
      transform: scale(1.3);
      filter: blur(0);
    }
  }

  &:hover {
    text-decoration: none;
    color: $pink;

    h2 {
      color: $white;
    }

    .bg {
      transform: scale(1);
      opacity: 0.2;
      filter: blur(0.1rem);
    }

    .go-single {
      right: 3rem;
    }
  }
}

[class*='-pages'] {
  form {
    label {
      position: relative;
      width: 100%;

      input {
        width: 100%;
        border-radius: 4rem;
        padding: 0.32rem 2rem;
        border: solid 0.2rem $pink;
        margin-top: 0.6rem;
      }

      a {
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 0 4rem 4rem 0;
        transition: all 200ms ease;

        &:hover {
          color: $white;
        }
      }
    }
  }
  .search-input {
    margin-top: 8rem;
  }

  .not-allowed-result {
    margin-top: 8rem;

    h2 {
      margin-bottom: 4rem;
    }
  }

  .avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: solid 0.3rem $pink;
    display: block;
    margin-right: 3rem;
    position: absolute;
  }

  .user {
    display: flex;
    justify-content: center;

    &.roles {
      justify-content: flex-start;
      margin-left: 6rem;

      .label {
        text-transform: lowercase;
        font-size: 1.2rem;

        &.ADMIN,
        &.EDITOR,
        &.GUEST {
          color: $white;
          padding: 0.3rem 1rem;
          border-radius: 1rem;
        }

        &.ADMIN {
          background: $pink;
        }

        &.EDITOR {
          background: $dark-purple;
        }

        &.GUEST {
          background: $purple;
        }
      }
    }

    p {
      margin-left: 1rem;
      font-size: 1.2rem;
    }

    a {
      color: $pink;
      font-weight: 600;
    }
  }

  a {
    &.btn-edit,
    &.btn-delete {
      border-radius: 4rem;
      margin: 0.8rem 0;
      margin-right: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4.5rem;
      height: 4.5rem;
      transition: all 200ms ease;

      svg {
        width: 2rem;
      }

      &:hover {
        background: $dark-purple;
        color: $pink;
        text-decoration: none;
      }
    }

    &.btn-delete {
      border: solid 0.1rem $pink;
      color: $pink;
    }

    &.btn-edit {
      border: solid 0.1rem $pink;
      background: $pink;
      color: $white;
    }
  }
}

@media (max-width: 576px) {
  h1 {
    &.title {
      font-size: 3rem;
      margin-top: 5rem;
    }
  }
  .banner {
    .redes {
      display: none;
    }

    &.restaurants,
    &.services,
    &.activities,
    &.events,
    &.register,
    &.login,
    &.single,
    &.new-spot,
    &.user-single,
    &.user-profile,
    &.user-admin {
      height: 40rem;
    }
  }

  .navbar {
    background: rgba($dark-purple, 0.8);
    .navbar-brand {
      position: static;
      background: none;
      border: 0;
      width: auto;
      height: auto;
      padding: 1.5rem;

      .logo {
        display: none;
      }

      .res-logo {
        display: block;
        width: 10rem;
      }
    }

    .navbar-collapse {
      background: $dark-purple;

      .navbar-nav {
        .login {
          padding: 0;
          border: 0;
          height: auto;
          justify-content: flex-start;

          ul {
            width: 100%;
            padding: 0 1.5rem;

            .logged {
              background: rgba($white, 0.4);
              padding: 1rem;
              position: relative;

              .user-info {
                .nav-avatar {
                  border: solid 0.4rem $dark-purple;
                  width: 8rem;
                  height: 8rem;
                  position: absolute;
                  right: 2rem;
                }
              }
            }

            .user-register {
              margin: 0;
            }

            .user-login {
              width: 100%;
              padding: 0;
            }
          }
        }

        .nav-link {
          padding-left: 1.5rem;
        }

        .more {
          background: none;
          border: 0;
          width: 100%;
          height: auto;

          .nav-link {
            display: none;
          }

          .dropdown-menu {
            display: block;
            position: static;
            min-width: 0;
            width: 100%;
            background: none;
            border: 0;

            .dropdown-item {
              padding: 1.5rem;
            }
          }
        }
      }
    }
  }

  .attributtes {
    margin-top: -7rem;
    border-radius: 0 7rem 0 0;
    background: $dark-purple;
    padding: 1rem 0 0 0;

    &:before {
      width: 7rem;
      height: 15rem;
      top: -15rem;
      left: 0;
      border-radius: 0 7rem 0 7rem;
      box-shadow: 0 -7rem 0 $dark-purple;
    }

    .card {
      border-bottom: solid 0.1rem rgba($white, 0.3);
      padding-bottom: 3rem;

      .card-header {
        position: static;
        margin: 2rem 0 0 2rem;
        width: 6rem;
        height: 6rem;

        &.icon {
          img {
            width: 2rem;
          }
        }
      }
    }

    .spot-card {
      margin-bottom: 3rem;
      .spot-block {
        border-radius: 1rem 1rem 0 0;
        .text-overflow {
          margin-top: 0;
          transition: none;

          .single {
            color: $white;
            font-size: 1.4rem;

            svg {
              height: 2rem;
              margin-left: 0;
            }

            &:hover {
              > svg {
                margin-left: 0rem;
              }
            }
          }
        }
      }

      .details {
        margin-top: 0rem;
      }
    }
  }

  .categories {
    .cat-items {
      .cat-card {
        background-size: 2rem 2rem !important;
        height: 9rem;
      }
    }
  }

  .results,
  .attributtes {
    border-radius: 0 7rem 0 0;
  }

  .register-pets {
    display: none;
  }

  footer {
    .logo {
      justify-content: start;
      img {
        width: 6rem;
      }
    }

    h3 {
      margin-top: 4rem;
    }
  }
}

@keyframes fading {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
